.root {
    -fx-accent: #307803;
    -fx-focus-color: -fx-accent;
    -fx-base: #0F0F10;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

#plus,#minus,#product,#quotient,#equals,#mod{
    .root {
        -fx-accent: #0F0F10;
        -fx-focus-color: -fx-accent;
        -fx-base: #307803;
        -fx-control-inner-background: derive(-fx-base, 35%);
        -fx-control-inner-background-alt: -fx-control-inner-background ;
    }
}

.label{
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-border-width: 3px;
}

.button:hover{
    -fx-text-fill: white;
}

.button{
    -fx-font-size: 22
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}
