.root {
    -fx-accent: #4EBD42;
    -fx-focus-color: -fx-accent;
    -fx-base: #89937C;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

#plus,#minus,#product,#quotient,#equals,#mod{
    .root {
        -fx-accent: #89937C;
        -fx-focus-color: -fx-accent;
        -fx-base: #4EBD42;
        -fx-control-inner-background: derive(-fx-base, 35%);
        -fx-control-inner-background-alt: -fx-control-inner-background ;
    }
}

.label{
    -fx-text-fill: black;
}

.text-field {
    -fx-text-fill: black;
    -fx-font-size: 24;
    -fx-border-width: 3px;
}

.button:hover{
    -fx-text-fill: black;
}

.button{
    -fx-font-size: 22
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}
